<p id="notice"><%= notice %></p>
<p>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<div id="add_comment">
  <h3>Add comment</h3>
  <%= render partial: "comments/form", locals: {comment: Comment.new} %>
</div>

<div class="comments">
  <h3>Comments</h3>
  <hr>
  <%= turbo_stream_from @project, :comments %>
  <div id="<%= "#{dom_id(@project)}_comments" %>">
    <%= render @project.comments.order(created_at: :desc) %>
  </div>
</div>
